<div class="container mt-4">

  <h2 class="mb-4">レビュー一覧</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ユーザー</th>
        <th>スポット</th>
        <th>評価</th>
        <th>コメント</th>
        <th>投稿日</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.user.name %></td>
          <td><%= review.spot.name %></td>
          <td>⭐ <%= review.rating %></td>
          <td><%= review.comment %></td>
          <td><%= l review.created_at, format: :short %></td>
          <td>
          <%= button_to "削除",
            admin_spot_review_path(review.spot, review),
            method: :delete,
            data: { turbo_confirm: "削除しますか？" },
            class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- ページネーション -->
  <div class="d-flex justify-content-center">
    <%= paginate @reviews %>
  </div>

</div>